html {
  font-size: 1em;
  line-height: 1.4em;
  @include regular-type;
  color: $black;
  background: $white;
}

 th, td {
    padding: 10px 10px 10px 0px;
    text-align: left;
    vertical-align: top;
}

  td:first-child {
    padding-right: 20px;
}
