html {
  font-size: 1em;
  line-height: 1.4em;
  @include regular-type;
  color: $black;
  background: $white;
}

 th, td {
    margin-bottom: 12px; 
    text-align: left;
}

  td:first-child {
    padding-right: 20px;
}
