$font-stack: 'Basis Grotesque', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

@font-face {
  font-family: 'Basis Grotesque Pro Black';
  src: url('../fonts/basisgrotesquepro-black-webfont.woff2') format('woff2'),
       url('../fonts/basisgrotesquepro-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro Bold';
  src: url('../fonts/basisgrotesquepro-bold-webfont.woff2') format('woff2'),
       url('../fonts/basisgrotesquepro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro Light';
  src: url('../fonts/basisgrotesquepro-light-webfont.woff2') format('woff2'),
       url('../fonts/basisgrotesquepro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro Medium';
  src: url('../fonts/basisgrotesquepro-medium-webfont.woff2') format('woff2'),
       url('../fonts/basisgrotesquepro-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro Regular';
  src: url('../fonts/basisgrotesquepro-regular-webfont.woff2') format('woff2'),
       url('../fonts/basisgrotesquepro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro Mono Bold';
  src: url('../fonts/basisgrotesquepromono-bold-webfont.woff2') format('woff2'),
       url('../fonts/basisgrotesquepromono-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro Mono Regular';
  src: url('../fonts/basisgrotesquepromono-regular-webfont.woff2') format('woff2'),
       url('../fonts/basisgrotesquepromono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro Off-white Regular';
  src: url('../fonts/basisgrotesqueprooffwhite-regular-webfont.woff2') format('woff2'),
       url('../fonts/basisgrotesqueprooffwhite-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin regular-type {
  font-family: $font-stack;
  font-weigh: normal;
}

@mixin bold-type {
  font-family: "Basis Grotesque Pro Bold", $font-stack;
  font-weigh: bold;
}

@mixin light-type {
  font-family: "Basis Grotesque Pro Light", $font-stack;
  font-weigh: normal;
}

@mixin off-white-type {
  font-family: "Basis Grotesque Pro Off-white Regular", $font-stack;
  font-weigh: normal;
}


//////// RAD

@font-face {
  font-family: 'rajdhanibold';
  src: url('../fonts/rajdhani-bold-webfont.woff2') format('woff2'),
       url('../fonts/rajdhani-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rajdhanilight';
  src: url('../fonts/rajdhani-light-webfont.woff2') format('woff2'),
       url('../fonts/rajdhani-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rajdhanimedium';
  src: url('../fonts/rajdhani-medium-webfont.woff2') format('woff2'),
       url('../fonts/rajdhani-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rajdhaniregular';
  src: url('../fonts/rajdhani-regular-webfont.woff2') format('woff2'),
       url('../fonts/rajdhani-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rajdhanisemibold';
  src: url('../fonts/rajdhani-semibold-webfont.woff2') format('woff2'),
       url('../fonts/rajdhani-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@mixin rajdhani-regular-type {
  font-family: "rajdhaniregular", $font-stack;
  font-weigh: normal;
}


@mixin rajdhani-bold-type {
  font-family: "rajdhanibold", $font-stack;
  font-weigh: normal;
}


@mixin reading-optimised {
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
