<!doctype html>
<html lang="en">
  <head>
    <title>
      {% block pageTitle %}Building better services{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mortar creates tailored tools and products that connect people to the services, support and advice that they need.">

    <link rel="shortcut icon" href="{{ '/static/images/mortar-favicon.png' | url }}" />
    <link rel="stylesheet" href="{{ '/static/css/styles.css' | url }}">
    <script async="async" defer="defer" src="{{ '/static/js/main.js' | url }}"></script>
    {% if bodyId == "solutions" %}
  <link rel="stylesheet" href="/static/css/solutions.css">
  {% endif %}
  </head>
  <body id="{% block bodyId %}{% endblock %}">
    <header>
      <div class="wrapper">
        <a href="/" id="mortar-logo">
          Mortar
        </a>

        <button class="hamburger hamburger--squeeze" type="button">
          <span class="visually-hidden">Toggle menu</span>
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

        <nav aria-label="Main navigation">
          <ul>
            <li><a href="{{ '/#case-studies' | url }}">Case Studies</a></li>
            <li><a href="{{ '/#solutions' | url }}">Solutions</a></li>
            <li><a href="{{ '/#insights' | url }}">Insights</a></li>
            <li><a href="{{ '/#contact' | url }}">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="{% block mainClass %}{% endblock %}">
      {% block content %}{% endblock %}
    </main>

    <footer>
      <div class="wrapper">
        <div id="footer-link-bar">
          <nav aria-label="Footer navigation">
            <ul>
            <li><a href="{{ '/#case-studies' | url }}">Case Studies</a></li>
            <li><a href="{{ '/#solutions' | url }}">Solutions</a></li>
            <li><a href="{{ '/#insights' | url }}">Insights</a></li>
            <li><a href="{{ '/#contact' | url }}">Contact</a></li>
            </ul>
          </nav>

          <div>
            <h3>Solutions</h3>
            <ul>
            {% for solution in collections.solutions %}
              <li>
                <a href="{{ solution.url }}">{{ solution.data.title }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>

          <div>
            <h3>Features</h3>
            <ul>
            {% for feature in features %}
              <li>
                {{ feature.title }}
              </li>
            {% endfor %}
            </ul>
          </div>

        </div>

        <div class="footer-disclaimer">
          <p>
            &copy; 2024 Mortar
          </p>
          <p>
            Mortar Works Limited is a company registered in England and Wales (Co. No. 12169493).
          </p>
        </div>
      </div>
    </footer>

    {% if metadata.environment === 'production' %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170658582-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-170658582-1');
      </script>
    {% endif %}
  </body>
</html>
