{% extends 'layouts/base.njk' %}

{% block pageTitle %}{{ title }} - Use cases - {{ super() }}}{% endblock %}
{% block bodyId %}{{ title | slug }}{% endblock %}
{% block mainClass %}use-case content-page{% endblock %}

{% block content %}
<section>
  <div class="hero-image" style="background-image: url('{{ '/static/images/use-cases/' + image | url }}')"></div>
  <div class="wrapper">
    <article>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </article>
  </div>
</section>

{% endblock %}
