{% extends 'layouts/base.njk' %}

{% block pageTitle %}{{ title }} - Use cases - {{ super() }}}{% endblock %}
{% block bodyId %}{{ title | slug }}{% endblock %}
{% block mainClass %}use-case content-page{% endblock %}

{% block content %}
<section>
  <div class="hero-image" style="background-image: url('{{ '/static/images/use-cases/' + pageImage | url }}')"></div>
  <div class="wrapper">
    <article>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </article>

    <p class="use-case-get-in-touch">
      <a class="cta" href="https://mehmet531303.typeform.com/to/HrCsUkRQ" target="_blank" rel="noopener">Get in touch</a>
    </p>
  </div>
</section>
{% endblock %}
