.content-page {
  background: $white;
  color: $copy-black;

  font-size: 1.3em;
  @include reading-optimised;

  @include respond-to('small') {
    font-size: 1.5em;
  }

  article {
    background: $white;
    // background: transparentize($white, 0.25);
    overflow: hidden;
    margin: auto;
    padding-bottom: 2em;

    @include respond-to('small') {
      padding: 3em;
      max-width: 40em;
      margin-top: -10em;
    }
  }

  h1, h2 {
    color: $black;
  }

  h1 {
    @include rajdhani-bold-type;
    margin: 1em 0 0.8em 0;
    line-height: 1em;

    @include respond-to('small') {
      margin: 1em 0 2em 0;
    }
  }

  h2 {
    @include rajdhani-bold-type;
    line-height: 1.2em;
    margin-top: 2.1em;
  }

  p {
    margin: 1.5em 0;
    line-height: 3.2ex;
  }

  p img {
    display: inline-block;
    margin: 3em auto;
    max-width: 100%;
    box-shadow: 2px 3px 6px 1px rgba(29,40,40,.3);
  }

  .hero-image {
    height: 15em;
    background: transparent no-repeat scroll 50% 50%;
    background-size: cover;

    @include respond-to('small') {
      height: 20em;
    }
  }

  blockquote {
    margin: 2em 1em;
    background: #ededed;
    padding: 1em 1.2em;
    border-left: 4px solid $mortar-pink;
    position: relative;
    font-style: italic;
    border-left: 5px solid $mortar-pink;

    strong {
      font-weight: normal;
      font-style: normal;
      font-size: 0.9em;
      display: block;
      margin-top: 1.5em;
    }
  }

  figure {
    margin: 4em 0;

    figcaption {
      margin-top: 1em;
      font-size: 0.8em;
      text-align: center;
      color: lighten($black, 20%);
    }

    img {
      width: 100%;
      box-shadow: 2px 3px 6px 1px rgba(29,40,40,.3);
    }
  }

  li {
    margin: 1.6em 0;
    line-height: 3.2ex;
  }

  ol li {
    padding-left: 0.45em;
  }

  article a {
    color: $black;
    text-decoration: underline;

    &:active, &:focus {
      text-decoration: none;
      box-shadow: none;
    }
  }

  .other-content {
    display: block;

    @include respond-to('small'){
      display: grid;
      grid-template-columns: 50% 50%;
    }

    margin: 2em 0;

    > div {
      padding: 1em;

    }

    .previous-post, .next-post {
      position: relative;

      &:before {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        height: 1em;
        width: 1em;
        position: absolute;
        top: 50%;
        margin-top: -0.5em;
        transform: rotate(-45deg);
        vertical-align: top;
        transform: rotate(-135deg);
      }

      &:hover, &:focus, &:active {
        &:before {
          border-color: $mortar-orange;
        }
      }
    }

    .previous-post {
      grid-column-start: 1;
      text-align: right;
      border-bottom: 1px solid $mortar-purple;

      @include respond-to('small'){
        border-right: 1px solid $mortar-purple;
        border-bottom: none;
      }

      &:before {
        left: 0;
      }
    }

    .next-post {
      grid-column-start: 2;

      @include respond-to('small'){
        border-left: 1px solid $mortar-purple;
      }

      &:before {
        right: 0;
        transform: rotate(45deg);
      }
    }

    a {
      font-weight: 700;
    }

    a, a span {
      display: block;
      color: black;
    }

    a span {
      font-weight: normal;
      font-size: 0.9em;
      margin-bottom: 0.8em;
    }
  }
}
