#homepage {
  #topline {
    padding-top: 5.6em;
  
    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: flex-start;
      padding: 2em 0;
    }
  
    @include respond-to('small') {
      padding-top: 4em;
      padding-bottom: 4em;
      background: linear-gradient(90deg, $mortar-purple 30%, rgba(255, 255, 255, 0)),
        url('../images/topline-bg/newbg4.png') scroll no-repeat 270px 0;
      background-size: cover;
      background-position: center;
    }
  
    @media (min-width: 1025px) {
      padding-top: 6em;
      padding-bottom: 6em;
      background-size: cover;
      background-position: center center;
    }
  
    h1 {
      @include bold-type;
      font-size: 3em;
      line-height: 1em;
      margin: 0;
      text-align: left;

      @include respond-to('small') {
        margin-top: 0;
        max-width: 13em;
        line-height: 1.2em;
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        padding-left: 1em;
        margin-top: 1em;
      }

      @media (min-width: 1025px) {
        margin-top: 0.5em;
      }

      span {
        display: block;
        font-size: 0.5em;
        line-height: 1.3em;
        margin-top: 1em;

        @include respond-to('small') {
          line-height: 2em;
        }
      }
    }

    .toplinep {
      max-width: 30em;
      font-size: 1.3em;
      line-height: 1.4em;
      margin: 0;
      padding-left: 0;
      padding-top: 1.2em;
      text-align: left;

      @include respond-to('small') {
        padding-left: 0;
        padding-right: 0;
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .cta {
      max-width: fit-content;
      margin-top: 2em;
      padding: 0.5em 2em;
      background-color: $mortar-purple;
      color: $white;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.2em;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($mortar-purple, 10%);
      }

      @include respond-to('small') {
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 3em;
        font-size: 1.1em;
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  /* Use Cases, Case Studies, Solutions - Shared Background Styling */
  .shared-section-background {
    background: url('/static/images/shared-background.jpg') no-repeat center center;
    background-size: cover;
    padding: 4em 0;
    color: #fff;
  }

  .use-cases-grid, .case-studies-grid, .solutions-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .grid-item {
      background: rgba(255, 255, 255, 0.9);
      padding: 2em;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  /* Use Case Card */
  .use-case-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  /* Case Study Card */
  .case-study-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  /* Solution Card */
  .solution-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  /* Contact Form */
  #contact {
    background: lighten($mortar-purple, 75%);
    padding: 6em 2em;

    .contact-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 3em;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 2em;
      }
    }

    .contact-info {
      flex: 1;
      margin-right: 2em;

      h2 {
        font-size: 2em;
        margin-bottom: 1em;
        color: #555;
      }

      p {
        font-size: 1.1em;
        margin-bottom: 1.5em;
        color: #666;
      }

      .contact-columns {
        display: flex;
        justify-content: space-between;
        gap: 2em;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        .contact-column {
          flex: 1;

          .contact-item {
            margin-bottom: 1em;
            display: flex;
            flex-direction: column;

            strong {
              font-weight: bold;
              color: #333;
            }

            span {
              font-weight: 400;
              color: #666;
            }
          }
        }
      }
    }

    .contact-form-card {
      flex: 1;
      background-color: #fff;
      padding: 2em;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      border: 1px solid #eaeaea;

      form {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.6em;
          font-weight: 500;
          color: #555;
        }

        input, select, textarea {
          margin-bottom: 1.2em;
          padding: 0.8em;
          border-radius: 5px;
          border: 1px solid #ddd;
          width: 100%;
          box-sizing: border-box;
        }

        textarea {
          height: 10em;
        }

        button {
          width: 100%;
          background-color: $mortar-purple;
          color: white;
          padding: 0.8em 1.5em;
          border: none;
          cursor: pointer;
          font-size: 1em;
          border-radius: 5px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken($mortar-purple, 10%);
          }
        }
      }
    }
  }

  /* Confirmation Modal */
  .confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .modal-content {
      background-color: white;
      padding: 2em;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

      p {
        font-size: 1.2em;
        margin-bottom: 1.5em;
        color: black;
      }

      button {
        padding: 0.5em 1em;
        background-color: $mortar-purple;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1em;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($mortar-purple, 10%);
        }
      }
    }
  }

  /* Mobile-Specific Adjustments */
  @media (max-width: 768px) {
    .use-cases-grid, .case-studies-grid, .solutions-grid {
      grid-template-columns: 1fr; /* Stacks the items in one column */
    }

    .grid-item {
      padding: 1.5em;
    }
  }
}