html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased; /* For Chrome, Safari, etc. */
  -moz-osx-font-smoothing: grayscale;  /* For Firefox on Mac */
  box-sizing: border-box;
}

a {
  color: $white;
  text-decoration: none;
  padding: 0.3em 0;

  &:active, &:focus {
    outline: 3px solid transparent;
    color: $black;
    background-color: $mortar-yellow;
    box-shadow: 0 -2px $mortar-yellow, 0 4px $black;
    text-decoration: none;
  }
}

.cta {
  display: block;
  max-width: fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5em 2em;
  background-color: transparent;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: background-color 0.3s ease; 
  border: 1px black solid;

  &:hover {
    background-color: darken($mortar-purple, 10%);
    color: white;
  }

  @include respond-to('small') {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 3em;
    font-size: 1.1em;
    width: 90%; /* Ensure the button fits well on mobile */
  }

  @media (min-width: 769px) {
    width: fit-content; /* Makes sure the width resizes properly on desktop */
  }
}

img {
  border: 0;
}

strong {
  @include bold-type;
}
