body {
  background-color: $mortar-purple;
  color: $white;
  margin: 0;
}

header {
  height: 7em;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: transparent !important; /* Start with transparent background */
  color: $black;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: none !important; /* No shadow initially */
}

.sticky {
  background-color: $mortar-purple !important; /* Change to purple when sticky */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important; /* Adds a shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Ensure main content starts right after the header without disrupting layout */
main {
  margin-top: 0; /* No margin or padding to keep layout consistent */
}

footer {
  padding: 2em 0 6em 0;

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 0.6em;
  }

  nav ul, h3 {
    padding-top: 0.6em;
    margin-bottom: 0.6em;
    margin-top: 1.2em;
    border-top: 2px solid $mortar-orange;
  }

  nav ul {
    margin-top: 1.4em;
  }

  #footer-link-bar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;

    @include respond-to('small') {
      grid-gap: 2em;
    }

    @include respond-to('medium') {
      grid-gap: 3em;
    }

    @include respond-to('large') {
      grid-gap: 4em;
    }
  }

  .footer-disclaimer {
    margin-top: 3em;
    padding-top: 1.2em;
    position: relative;

    @include respond-to('small') {
      margin-top: 5em;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 64px;
      height: 1px;
      background-color: $white;
    }

    p {
      font-size: 0.9em;
      margin: 0;
    }
  }
}
