---
title: Welcome
name: homepage
---

{% extends 'layouts/base.njk' %}

{% block pageTitle %}{{ title }} - {{ super() }}{% endblock %}

{% block bodyId %}{{ name }}{% endblock %}

{% block content %}
  <section id="topline">
    <div class="wrapper">
      <h1>Building better services</h1>

      <p>
       Mortar creates connections between people, places and property. Our tailored tools and products improve accessibility and inclusion; driving the next generation of intelligent, user-led services. </p>

      <a class="cta light" href="#use-cases">Learn about our work</a>
    </div>
  </section>

  <section id="features">
    <div class="wrapper">
      <div class="section-head">
        <h2>Features</h2>
       
 <h3>Bringing information, resources and support to those that need them</h3>  
<p class="section-tagline"> <p>We create bespoke environments that enhance the delivery of services. Our framework makes the application of technology easier and more affordable, transforming the capacity and capability of services to identify, target and reach every customer, so no-one gets left behind.<br><br></p>
     </p> </div>

      <div id="feature-list">
        <ul>
        {% for feature in features  %}
          <li>
            <h3>{{ feature.title }}</h3>
            <p class="feature-tagline">{{ feature.tagline }}</p>
            {{ feature.subfeatures | markdown | safe }}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section id="partners">
    <div class="wrapper">
      <h2>Our partners</h2>
      <ul>

       <li><img src="{{ '/static/images/partners/lga_logo.png' | url }}" alt="Local Government Association logo" /></li> 
           <li><img src="{{ '/static/images/partners/gla_logo2.jpeg' | url }}" alt="Greater London Authority logo" /></li>
         <li><img src="{{ '/static/images/partners/havering-council.png' | url }}" alt="Havering Council logo" /></li 
           <li><img src="{{ '/static/images/partners/Hackney-Logo.png' | url }}" alt="Hackney Council logo" /></li>
            <li><img src="{{ '/static/images/partners/Clarion-Housing-Group-Logo.png' | url }}" alt="Clarion Housing Group logo" /></li>
                  <li><img src="{{ '/static/images/partners/salford02.png' | url }}" alt="Salford City Council logo" /></li>
                  <li><img src="{{ '/static/images/partners/eastriding1.png' | url }}" alt="East Riding of Yorkshire logo" /></li>
                  <li><img src="{{ '/static/images/partners/humberandnorth.png' | url }}" alt="Humber and North Yorkshire Integrated Care Partnership logo" /></li>
                  <li><img src="{{ '/static/images/partners/walthamforest01.png' | url }}" alt="Waltham Forest logo" /></li>
                  <li><img src="{{ '/static/images/partners/Worcestershire-County-Council-logo.png' | url }}" alt="Worcestershire County Council logo" /></li>
                  <li><img src="{{ '/static/images/partners/socialfinance01.png' | url }}" alt="Social Finance logo" /></li>
                  <li><img src="{{ '/static/images/partners/mayoroflondonlogo01.png' | url }}" alt="Mayor of London logo" /></li>



      
      </ul>
    </div>
  </section>

  <section id="use-cases">
    <div class="wrapper">
      <div class="section-head">
        <h2>Use Cases</h2>
        <div class="section-tagline">
          <p>
        We work in close partnership with our clients from across local government, housing, health and local area initiatives. Our use cases demonstrate how we customise and build scalable products that address and solve the problems we encounter.
          </p>
         
          
          
          
          <p></p>
        </div>
      </div>

      <ol>
      {% for useCase in collections.useCases %}
        <li>
          <h3>{{ useCase.data.title }}</h3>

          {% if useCase.data.homepageImage %}
            <figure>
              <img src="{{ '/static/images/homepage/' + useCase.data.homepageImage | url }}" alt="" />
            </figure>
          {% endif %}

          <div>
            {{ useCase.data.description | markdown | safe }}

            <a href="{{ useCase.url }}" class="cta">Learn more<span class="visually-hidden"> about {{ useCase.data.title }}<span></a>
          </div>
        </li>
      {% endfor %}
      </ol>
    </div>
  </section>

  <section id="insights">
    <div class="wrapper">
      <div class="section-head">
        <h2>Insights</h2>
        <p class="section-tagline">At Mortar we want to inspire all services to become more accessible, inclusive and sustainable. Read our insights to find out how we are making the application of intelligence, data and user-led design easier and more affordable to adopt.  </p>
      </div>

      <ul>
      {% for post in collections.insights %}
        <li>
          <a class="insight-title" href="{{ post.url }}" aria-label="Insight: {{ post.data.title }}">
            <div class="insight-image" style="background-image: url('{{ '/static/images/insights/' + post.data.image | url }}')"></div>
            <div class="insight-details">
              <time datetime="{{ post.data.date | w3date }}">{{ post.data.date | date }}</time>
              {{ post.data.title }}
            </div>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
