---
title: Services Overview
name: services-overview
---

{% extends 'layouts/base.njk' %}

{% block pageTitle %}{{ title }} - {{ super() }}{% endblock %}

{% block bodyId %}{{ name }}{% endblock %}

{% block content %}

<section id="services-topline">
  <div class="wrapper">
    <div class="services-topline-inner">
      <h1>Redefining relationships between people, places and property</h1>
      <p>Organisations use Mortar and our suite of products to power and scale their solutions; improving efficiencies and driving growth.</p>
    </div>
  </div>
</section>

<section id="vision">
  <div class="vision-tabs" id="vision-tabs-bar">
    <a class="vision-tab is-active" href="#vision-people">People</a>
    <a class="vision-tab" href="#vision-places">Places</a>
    <a class="vision-tab" href="#vision-property">Property</a>
  </div>
  <div class="vision-tabs-placeholder" id="vision-tabs-placeholder"></div>

  <div class="vision-panels">

    <div class="vision-panel vision-panel--shaded" id="vision-people" data-tab="people">
      <div class="vision-panel-body">
        <div class="vision-panel-left">
          <h3>Understanding people to build better outcomes.</h3>
          <p>Our research is committed to transforming how we understand, represent and empower people; making big data and intelligence work for everyone.</p>
          <ul class="vision-modules">
            <li>Needs assessment and profiling</li>
            <li>User journey mapping</li>
            <li>Community navigation</li>
            <li>Personalised service design</li>
            <li>Outcomes and impact tracking</li>
          </ul>
          <a href="#" class="vision-panel-link">Future human-centric design</a>
        </div>
        <div class="vision-graphic vision-graphic--duo">
          <img src="{{ '/static/images/homepage/bgvision01.jpg' | url }}" alt="People solutions illustration" class="vision-graphic-back" />
          <img src="{{ '/static/images/homepage/bgvision02.jpg' | url }}" alt="People solutions illustration" class="vision-graphic-front" />
        </div>
      </div>
    </div>

    <div class="vision-panel" id="vision-places" data-tab="places">
      <div class="vision-panel-body vision-panel-body--reverse">
        <div class="vision-panel-left">
          <h3>Changing perspectives on place. Not just points on a map.</h3>
          <p>Our intelligence tools help stakeholders collaborate in mapping, modelling and responding to the dynamics of the communities and environments they serve.</p>
          <ul class="vision-modules">
            <li>Place intelligence and mapping</li>
            <li>Community asset analysis</li>
            <li>Spatial demand modelling</li>
            <li>Local area planning support</li>
            <li>Place-based impact reporting</li>
          </ul>
          <a href="#" class="vision-panel-link">Local information infrastructure</a>
        </div>
        <div class="vision-graphic vision-graphic--duo-left">
          <img src="{{ '/static/images/homepage/bgplace01.jpg' | url }}" alt="Places solutions illustration" class="vision-graphic-back" />
          <img src="{{ '/static/images/homepage/bgplace02.jpg' | url }}" alt="Places solutions illustration" class="vision-graphic-front" />
        </div>
      </div>
    </div>

    <div class="vision-panel vision-panel--shaded" id="vision-property" data-tab="property">
      <div class="vision-panel-body">
        <div class="vision-panel-left">
          <h3>Resolving property problems with custom solutions</h3>
          <p>Our property system enables the creation of custom solutions to optimise operations, respond to users and make data-led decisions.</p>
          <ul class="vision-modules">
            <li>Portfolio analysis and optimisation</li>
            <li>Property demand forecasting</li>
            <li>Asset condition modelling</li>
            <li>Investment scenario planning</li>
            <li>Property impact frameworks</li>
          </ul>
          <a href="#" class="vision-panel-link">Changing approaches to property</a>
        </div>
        <div class="vision-graphic vision-graphic--duo">
          <img src="{{ '/static/images/homepage/bgproperty01.jpg' | url }}" alt="Property solutions illustration" class="vision-graphic-back" />
          <img src="{{ '/static/images/homepage/bgproperty02.jpg' | url }}" alt="Property solutions illustration" class="vision-graphic-front" />
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}
